<%- include ("./partials/header.ejs") %>
<body>
  <%- include ("./partials/navbar.ejs") %>


  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1 class="fs-5 m-0">Realizar pergunta</h1>
      </div>
      <div class="card-body">
        <form class="row g-3" method="post">
          <div class="col-12">
            <label class="form-label">Título</label>
            <input class="form-control" type="text" name="title" required>
          </div>

          <div class="col-12">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" name="description" required></textarea>
          </div>

          <div class="col-12 d-grid justify-content-end">
            <button class="btn btn-primary" type="submit">Perguntar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ("./partials/footer.ejs") %>
