<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include ('../../partials/head.ejs') %>
</head>
<body>
  <%- include ('../../partials/navbar.ejs') %>

  <div class="container">
  </div>

  <%- include ('../../partials/scripts.ejs') %>
</body>
</html>
