<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include ("../../partials/head.ejs") %>
</head>
<body>
  <%- include ("../partials/navbar.ejs") %>

  <div class="container">
    <h5>Cadastrar</h5>

    <hr>

    <div class="card">
      <div class="card-body">
        <form action="/admin/users/create" method="post">
          <div class="mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="johndoe@email.com">
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Senha</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="********">
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirme a senha</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="********">
          </div>

          <button class="btn btn-primary w-100" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>

  <%- include ("../../partials/scripts.ejs") %>
</body>
</html>
